<h1>About</h1>

<p>Hi! My name is Andrew Suzuki. I'm a computer science major here at UConn (2018).</p>

<p>Nourish is a modern set of apps I wrote in the Summer of 2015 as a replacement for UConn's lacking dining hall menu pages. Nourish currently provides:</p>

<ul>
    <li>Clean and intuitive interfaces for finding menu information</li>
    <li>A <a href="#">mobile app</a> for iOS and Android, which allows one to save a list of their favorite foods and be alerted when the foods are available anywhere</li>
    <li>A web app that looks great on any device, automatically scaling for desktops, laptops, tablets, and phones</li>
    <li>More coming soon...</li>
</ul>

<h3>Development</h3>

<p>Nourish is open source software. If you're a developer, feel free to contribute on GitHub. Nourish is engineered with full-stack Javascript. Node/Express handles the backend API, AngularJS orchestrates things on the front-end, and Ionic/Cordova provides the base for the cross-platform mobile app.</p>

<p>There are three repositories:</p>

<ul>
    <li><a href="https://github.com/andrewsuzuki/nourish-server" title="nourish-server on GitHub">nourish-server</a> &mdash; exposes a RESTful web API and periodically scrapes UConn's menu pages</li>
    <li><a href="https://github.com/andrewsuzuki/nourish-web" title="nourish-web on GitHub">nourish-web</a> &mdash; this web app (hosted through GitHub Pages - see gh-pages branch)</li>
    <li><a href="https://github.com/andrewsuzuki/nourish-app" title="nourish-app on GitHub">nourish-app</a> &mdash; the mobile app</li>
</ul>

<p>To work on any of these, you need to download Node.js (V8 Javascript platform), NPM (Node Package Manager), and Gulp (build system). You might also need Bower (front-end dependency manager), Ionic (mobile app framework), Cordova (mobile app platform), or whatever else it warns you about not having.</p>

<p>If you're not a developer, but have an idea for a feature, feel free to contact me on Facebook, or through my prototypical UConn email address.</p>
