<h1>{{ hall.name }}</h1>

<div class="progress progress-striped active" ng-if="!hall.loaded">
    <div class="progress-bar progress-bar-success " style="width: 100%"></div>
</div>

<div class="alert alert-info" ng-if="!hall.days.length && hall.loaded">
    Sorry, no menus were found for {{ hall.name }}.
</div>

<tabset type="pills">
    <tab ng-repeat="day in hall.days" heading="{{ hall.displayDate(day.date) }}" active="day.active">
        <br />
        <tabset>
            <tab ng-repeat="meal in day.meals" heading="{{ hall.mealType(meal.type) }}" active="meal.active">
                <br />
                <div ng-repeat="cat in meal.cats" class="panel panel-default">
                    <div class="panel-heading">{{ cat.name }}</div>
                    <div class="panel-body">
                        <ul>
                            <li ng-repeat="item in cat.items">
                                <a ng-click="hall.labelOpen(item._id)" tooltip-placement="bottom" tooltip="Click for Nutrition">{{ item.name }}</a>
                                <span class="label label-primary">{{ item.label.nutrition.calories }} cal</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </tab>
        </tabset>
    </tab>
</tabset>
